/**Logo**/
.titulo-logo {
  color: #f8a407;
  font-size: 20px;
  text-transform: uppercase;
}

/** Navbar **/
.navigation-icon {
  color: #fff;
  font-size: medium;
  font-weight: 700;
  transition: color 0.5s all;
}

.navigation-icon:hover {
  color: #f8a407;
}

/** Car **/
#carrito {
  display: none;
}
.carrito-icon {
  color: #f8a407;
  transition: color 0.5s ease;
}

.carrito-icon:hover {
  color: #fff;
}

/** Carrusel **/
main {
  min-height: calc(100vh - 56px - 56px);
  overflow: hidden;
}
.carousel-inner {
  height: 100%;
}

/** Footer **/
footer {
  background-color: #e3e3e3;
  padding: 10px 0;
  text-align: center;
}
.social-links {
  list-style: none;
  padding: 0;
}
.social-links li {
  display: inline-block;
  margin-right: 10px;
}
.social-links li:last-child {
  margin-right: 0;
}
.social-links a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}
.btn-contacto {
  border: 1px solid #fff;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
}

.btn-contacto:hover {
  background-color: #1f1f1f;
}

/**Barra de Navegación **/
::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}




